.main {
  display: flex;
  max-height: 6.5rem;
  gap: 2rem;
  align-items: center;
  padding: 1.5rem 7.6875rem;
  justify-content: center;

  background: var(--dark-dark-600);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.bannerHeader {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}

.icon {
  height: 1.875rem;
  width: 1.875rem;
}

.textBanner {
  color: var(--light-light-100);
}

.searchInput {
  display: flex;
  max-height: 3rem;
  padding: 0.75rem 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  max-width: 36rem;
  width: 100%;

  border-radius: 0.3125rem;
  border: none;
  background: var(--dark-dark-900);
  text-decoration: none;
}

.searchInput:focus {
  outline: none;
}

.orderButton {
  display: flex;
  max-width: 13.5rem;
  width: 100%;
  padding: 0.75rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;

  border-radius: 0.3125rem;
  background: var(--tints-tomato-100);

  color: var(--light-light-100);
  text-align: center;
}

.orderNotification {
  display: none;
}

.orderButton:hover,
.orderButton:focus {
  outline: none;
  filter: brightness(1.5);
}

.signOutButton {
  background-color: transparent;
  border: none;
  transition: transform 0.5s ease-in-out;
}

.signOutButton:hover {
  outline: none;
  transform: scale(1.1);
}

.adminTag {
  text-align: end;
  color: var(--tints-cake-200);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media screen and (max-width: 1300px) {
  .main {
    gap: 0.5rem;
    padding: 1rem 0.8rem;
    justify-content: space-between;
  }

  .textBanner {
    font-size: 1.2rem;
  }

  .orderButton {
    padding: 0.2rem;
  }
}

.hamburger {
  display: none;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 70%;
  background: var(--light-light-100);
  margin: 4px 0;
  transition: all 0.3s ease;
}

.hamburgerActive span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburgerActive span:nth-child(2) {
  opacity: 0;
}

.hamburgerActive span:nth-child(3) {
  transform: translateY(-2px) rotate(-45deg);
}

.headerMenu {
  display: flex;
  gap: 1rem;
  color: var(--light-light-100);
  align-items: center;
  font-size: 1.5rem;
  z-index: 3;
  background-color: var(--dark-dark-700);
  padding: 1rem;
}

.mainMenu {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-dark-1000);
  z-index: 2;
}

.searchInputMenu {
  display: flex;
  max-height: 4rem;
  max-width: 20rem;
  padding: 1.2rem 0.875rem;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-left: 1rem;

  border-radius: 0.3125rem;
  border: none;
  background: var(--dark-dark-900);
  text-decoration: none;
}

.searchInputMenu:focus {
  outline: none;
}

.buttonMenu {
  background-color: transparent;
  color: var(--light-light-300);
  border: none;
}

.buttonMenu:focus {
  outline: none;
}

.none {
  display: none;
}

@media screen and (max-width: 850px) {
  .main {
    background-color: var(--dark-dark-700);
    justify-content: space-between;
  }

  .orderButton {
    background: transparent;
    max-width: fit-content;
    position: relative;
  }

  .orderText {
    display: none;
  }

  .orderNotification {
    position: absolute;
    background-color: var(--tints-tomato-100);
    border-radius: 100%;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 1rem;
    max-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signOutButton {
    display: none;
  }

  .searchInput {
    display: none;
  }

  .hamburger {
    display: block;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .bannerHeader {
    display: flex;
    justify-self: center;
  }
}
