.main {
  padding: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  border-radius: 16px;
  background: var(--dark-dark-700);

  color: var(--light-light-100);
  text-align: center;
}

@media screen and (max-width: 850px) {
  .main {
    background: var(--dark-dark-400);
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .main {
    background: var(--dark-dark-400);
    padding: 2rem;
    width: 100%;
  }
}
