.main {
  display: flex;
  align-items: center;
  position: relative;
  width: 70rem;
  height: 16.25rem;

  border-radius: 0.5rem;
  background: var(
    --gradients-200,
    linear-gradient(180deg, #091e26 0%, #00131c 100%)
  );
}

.imgBanner {
  position: absolute;
  bottom: 0;
}

.descriptionBanner {
  position: absolute;
  right: 48px;
}

.descriptionBanner :nth-child(1) {
  color: var(--light-light-300);
}

.descriptionBanner :nth-child(2) {
  color: var(--light-light-300);
}

@media screen and (max-width: 1150px) {
  .main {
    max-width: 40rem;
    max-height: 10rem;
  }

  .imgBanner {
    width: 20rem;
    left: -5rem;
  }

  .descriptionBanner {
    max-width: 30rem;
    right: 10px;
  }
}

@media screen and (max-width: 680px) {
  .main {
    max-width: 23rem;
    max-height: 10rem;
  }

  .descriptionBanner {
    max-width: 10rem;
    right: 0px;
  }

  .descriptionBanner :nth-child(1) {
    font-size: 1.5rem;
  }

  .descriptionBanner :nth-child(2) {
    font-size: 0.8rem;
  }
}
